.ui.container
	.ui.menu
		= link_to 'Switter', root_path, :class => "item header"
		.right.menu
			= link_to 'Sign up', signup_path, :class => "item"
	.ui.doubling.grid
		.four.wide.column
		
		.eight.wide.column
			#login
				- if !@login_error.nil?
					#error_explanation.ui.error.message
						@login_error.message

				= form_with scope: :login, :class => "ui form", url: login_path do |l|
					.field
						= l.text_field :username, :placeholder => "Username"
					.field
						= l.password_field :password, :placeholder => "Password"
					= l.submit 'Login', :class => "ui primary button"			
		.four.wide.column