%div.swit.item{:id => "swit-#{swit.id}" }
	.content
		- if current_user == swit.user
			= link_to swit_path(swit), remote: true, :class => "ui right floated", method: :delete, data: { confirm: "Delete this Swit?" } do
				%i.remove.icon
		.header
			= swit.content
			
		.date.meta
			Posted by
			= link_to swit.user.username, swit.user
			= time_ago_in_words(swit.created_at)
			ago
