.ui.massive.segment
	.ui.inverted.fixed.large.menu
		.ui.container
			= link_to 'Switter', root_path, class: "ui orange header inverted item"
			.right.menu
				= link_to current_user.username, user_path(current_user), class: "item"
				= link_to 'Logout', logout_path, class: "item"
.ui.container.doubling.centered.grid
	.eight.wide.column
		.ui.segment
			= form_for :swit, url: swits_path, html: {id: "new-swit", class: "ui large form"}, remote: true do |s|
				.field
					= s.text_area :content, rows: 3, id: "new-swit-text", placeholder: "Make a Swit..."
				.field
					%span#char-left 0	
					%span /140
					= s.submit "Swit", id: "swit-button", class: "ui right floated primary button"

				#swit-error
			
		.ui.swits.divided.items.large.feed.segment
			= render partial: 'swit', collection: @swits