.ui.massive.segment
	.ui.inverted.fixed.large.menu
		.ui.container
			= link_to 'Switter', root_path, class: "ui orange header inverted item"
			.right.menu
				= link_to 'Logout', logout_path, class: "item"
.ui.container.doubling.grid
	.four.wide.column
	
	.eight.wide.column
		.ui.segment
			= form_for :term, url: swit_search_path(), html: {id: "search", class: "ui large form"}, remote: true do |s|
				.field.fluid
					.ui.action.input
						= s.text_field :term, rows: 3, id: "new-swit-text", placeholder: "Search a Swit..."
						= s.submit "Search", id: "swit-button", class: "ui primary icon button"

		.ui.swits.items.large.comments.feed#search-results
			= render partial: :swit, collection: @swits

	.four.wide.column