.ui.massive.segment
	.ui.inverted.fixed.large.menu
		.ui.container
			= link_to 'Switter', root_path, class: "ui orange header inverted item"
			.right.menu
				= link_to 'Logout', logout_path, class: "item"
.ui.container.doubling.centered.grid
	.eight.wide.column
		- if !flash[:notice].nil?
			.ui.positive.icon.message
				%i.close.icon
				%i.checkmark.box.icon
				.content
					.header
						= flash[:notice]
		.ui.fluid.card
			.content
				.header
					= @user.username
				.meta
					= @user.firstname
					= @user.middlename
					= @user.lastname

				- if current_user.id == @user.id
					= link_to 'Change Password', edit_user_path, :params => {to_edit: :password},:class => "ui button", remote: true

				#form-cards

		.ui.swits.divided.items.large.feed.segment
			= render partial: :swit, collection: @swits